<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
</head>
<body>
    <h1 th:text="${msg}"> 這是本來的內容 </h1>
    <h1>這是另一個H1</h1>
    <h1>這是另三個H1</h1>
    3 x 6 = <span th:text="${ 3*6 }"> 運算式結果</span>

    <hr/>
    <div id="block1" style="background-color: lawngreen;width: 500px; height: 300px;">
        這裡有一個綠色區塊
    </div>
    <button onclick="hideBlock()">點我讓區塊消失</button>
    <button onclick="showBlock()">點我讓區塊顯示</button>
    <button onclick="changeH1()">點我改變H1標題</button>

    <hr/>
    <p>Date: <input type="text" id="datepicker"></p>
<script>
    function hideBlock() {
        $("#block1").hide();
    }
    function showBlock() {
        $("#block1").show();
    }
    function changeH1() {
        $("h1").html("用 jquery 改變這裡面的H1內容");
        $( "#datepicker" ).datepicker();
    }
</script>
</body>
</html>