<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div id="page" style="background-color: lightblue; width: 1000px; height: 800px;">

    </div>

   <h3> hello </h3>
<script>
    // 物件宣告 object
    $('#page').load("https://www.mobile01.com")

    var car = {
        type:"Fiat",
        model:"500",
        color:"white",
        start: function() {
            console.log("這是啟動功能")
        },
        stop: function () {
            alert("煞車");
        }
    };
    console.log( car.type)    // console.log 等於 System.out.println
    console.log( car.color )
    console.log( car.model)
    car.stop();
    console.log( car )
    console.log( JSON.stringify( car ) )

    // 標準JSON 格式
    var carModel = { "Brand": "Honda" , "Model": "S2000" , "start": function () { console.log('S2000 發動')} }
    //nsole.log(carModel.Model)
    //nsole.log(carModel.start())


</script>

</body>
</html>