<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" th:object="${usermodel}" action="/regform2">
        姓名:    <input type="text"  th:field="*{username}" name="username"><br/>
        email:  <input type="text"  th:field="*{email}"  name="email"><br/>
        mobile: <input type="text"  th:field="*{mobile}" name="mobile"><br/>
        密碼:    <input type="text"  th:field="*{passwd}" name="mobile"><br/>
        <input type="submit" value="註冊"><br/>
        <input type="reset" value="清除"><br/>
    </form>

<h2> 未綁定 th:object 到表單本身的寫法  </h2>
    <form method="post" action="/regform">
        姓名:    <input type="text"  th:field="*{usermodel.username}" name="username"><br/>
        email:  <input type="text"  th:field="*{usermodel.email}"  name="email"><br/>
        mobile: <input type="text"  th:field="*{usermodel.mobile}" name="mobile"><br/>
        <input type="submit" value="註冊"><br/>
        <input type="reset" value="清除"><br/>
    </form>
</body>
</html>