<!doctype html>
<html class="no-js" lang="en" xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  </head>
  <body>

    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="row">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">巨匠線上模型商店</li>
            <li class="has-submenu">
              <a href="#">汽車模型</a>
              <ul class="submenu menu vertical" data-submenu>
                <li><a href="#">骨董車</a></li>
                <li><a href="#">經典車款</a></li>
                <li><a href="#">現代車款</a></li>
              </ul>
            </li>
            <li><a href="#">機車模型</a></li>
            <li><a href="#">飛機模型</a></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><input type="search" id="search-input" placeholder="Search"></li>
            <li><button type="button" onclick="searchProduct()" class="button">Search</button></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Top Bar -->
    <br>
    <!-- You can now combine a row and column if you just need a 12 column row -->
    <div class="row columns">
      <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
          <li><a href="/showproduct">Home</a></li>
          <li><a href="#">Features</a></li>
          <li class="disabled">Gene Splicing</li>
          <li>
            <span class="show-for-sr">目前: </span> 模型
          </li>
        </ul>
      </nav>
    </div>

    <div class="row">
      <div class="medium-6 columns">
        <img id="p_img1" width="650" height="350" class="thumbnail" th:src="@{${'/images/'+product.getCode()+'/1.jpg'}}">
        <div class="row small-up-4">
          <div class="column">
            <img id="p_img2" width="250" height="200" class="thumbnail" th:src="@{${'/images/'+product.getCode()+'/1.jpg'}}">
          </div>
          <div class="column">
            <img id="p_img3" width="250" height="200" class="thumbnail" th:src="@{${'/images/'+product.getCode()+'/2.jpg'}}">
          </div>
          <div class="column">
            <img id="p_img4" width="250" height="200" class="thumbnail" th:src="@{${'/images/'+product.getCode()+'/3.jpg'}}">
          </div>
          <div class="column">
            <img id="p_img5" width="250" height="200" class="thumbnail" th:src="@{${'/images/'+product.getCode()+'/4.jpg'}}">
          </div>
        </div>
      </div>
      <div class="medium-6 large-5 columns">
        <h3 id="p_name" th:text="${ product.getName() }">My Awesome Product</h3>
        <p  id="p_desc" th:text="${ product.getDescription()}">Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in.</p>

        <label>比例
        <select>
          <option value="husker">1:10</option>
          <option value="starbuck">1:12</option>
          <option value="hotdog">1:18</option>
        </select>
        </label>

        <div class="row">
          <div class="small-3 columns">
            <label for="middle-label" class="middle">單價(美金)</label>
          </div>
          <div class="small-9 columns">
            <span id="p_price" th:text="${'USD$ ' + product.getMsrp()}"> USD$ </span>
          </div>
        </div>
        <div class="row">
          <div class="small-3 columns">
            <label for="middle-label" class="middle">庫存數量</label>
          </div>
          <div class="small-9 columns">
            <span id="p_qty" th:text="${product.getQty()}">  </span>
          </div>
        </div>
        <div class="row">
          <div class="small-3 columns">
            <label for="middle-label" class="middle">訂購數量</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="middle-label" placeholder="1">
          </div>
        </div>

        <a href="#" class="button large expanded">放入購物車</a>

        <div class="small secondary expanded button-group">
            <a class="button">Facebook</a>
            <a class="button">Twitter</a>
            <a class="button">Yo</a>
          </div>
        </div>
    </div>

    <div class="column row">
      <hr>
      <ul class="tabs" data-tabs id="example-tabs">
        <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">消費者的評論</a></li>
        <li class="tabs-title"><a href="#panel2">客人也會看的其他商品</a></li>
      </ul>
      <div class="tabs-content" data-tabs-content="example-tabs">
        <div class="tabs-panel is-active" id="panel1">
          <h4>Reviews</h4>
          <div class="media-object stack-for-small">
            <div class="media-object-section">
              <img class="thumbnail" src="https://placehold.it/200x200">
            </div>
            <div class="media-object-section">
              <h5>Mike Stevenson</h5>
              <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
            </div>
          </div>
          <div class="media-object stack-for-small">
            <div class="media-object-section">
              <img class="thumbnail" src="https://placehold.it/200x200">
            </div>
            <div class="media-object-section">
              <h5>Mike Stevenson</h5>
              <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you</p>
            </div>
          </div>
          <div class="media-object stack-for-small">
            <div class="media-object-section">
              <img class="thumbnail" src="https://placehold.it/200x200">
            </div>
            <div class="media-object-section">
              <h5>Mike Stevenson</h5>
              <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you</p>
            </div>
          </div>
          <label>
            My Review
            <textarea placeholder="None"></textarea>
          </label>
          <button class="button">Submit Review</button>
        </div>
        <div class="tabs-panel" id="panel2">
          <div class="row medium-up-3 large-up-5">
            <div class="column">
              <img class="thumbnail" src="https://placehold.it/350x200">
              <h5>Other Product <small>$22</small></h5>
              <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
              <a href="#" class="button hollow tiny expanded">Buy Now</a>
            </div>
            <div class="column">
              <img class="thumbnail" src="https://placehold.it/350x200">
              <h5>Other Product <small>$22</small></h5>
              <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
              <a href="#" class="button hollow tiny expanded">Buy Now</a>
            </div>
            <div class="column">
              <img class="thumbnail" src="https://placehold.it/350x200">
              <h5>Other Product <small>$22</small></h5>
              <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
              <a href="#" class="button hollow tiny expanded">Buy Now</a>
            </div>
            <div class="column">
              <img class="thumbnail" src="https://placehold.it/350x200">
              <h5>Other Product <small>$22</small></h5>
              <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
              <a href="#" class="button hollow tiny expanded">Buy Now</a>
            </div>
            <div class="column">
              <img class="thumbnail" src="https://placehold.it/350x200">
              <h5>Other Product <small>$22</small></h5>
              <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
              <a href="#" class="button hollow tiny expanded">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row column">
      <hr>
      <ul class="menu">
        <li>Yeti Store</li>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li class="float-right">Copyright 2016</li>
      </ul>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
      function searchProduct() {
        let pcode = $('#search-input').val();
        // alert("搜尋產品: " + pcode);
        $.get( '/api/productById/' + pcode,
                function (data , status) {
                  console.log("發出 ajax .get 到 springboot api server 取資料結果:")
                  let p = data[0];
                  console.log( JSON.stringify(p));
                  console.log(p.name);
                  $('#p_name').html(p.name)
                  console.log(p.description)
                  $('#p_desc').html(p.description)
                  let pc = p.code;
                  $('#p_img1').attr('src', '/images/' + pc + '/1.jpg');
                  $('#p_img2').attr('src', '/images/' + pc + '/1.jpg');
                  $('#p_img3').attr('src', '/images/' + pc + '/2.jpg');
                  $('#p_img4').attr('src', '/images/' + pc + '/3.jpg');
                  $('#p_img5').attr('src', '/images/' + pc + '/4.jpg');
                }
        )
      }
    </script>
  </body>
</html>



